html{
    background: #e1e8e3;
    overflow-x: hidden;
    
}

body{
    margin: 0;
    margin-left: 10px;
    font-family: serif;
    
}

a:any-link {
    transition: color 0.4s;
}

ul {
    list-style-type: square;
    margin-top: 0px;
}

ul a{
    color: hotpink;
}

ul i{
    font-weight: bold;
    
}

.home{
    color: black;
    text-decoration: none;
    z-index: 5   
}

img{
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

marquee{
    z-index: -1;
}

.container{
    flex-wrap: wrap;
}

.mainimg {
    width: 30vh;
    height: 30vh;
    position: fixed;
    right: 0vh;
    top: 30vh;
    z-index: -1;
    display: block;
}

@media only screen and (max-width: 1026px) {
    .mainimg {
        display: none;
    }
}

.textbox{
    width: 40vw;
    min-width: 300px;
    max-width: 500px;
    margin-left: 10px;
    text-align: justify;
}

.home:hover{
    color: blue;
    text-decoration:line-through
}

.content{
    max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
    width: 95vw;
}

.content p{
    width: 90vw;
    padding: 10px;
    margin-top: 0px
}

.solo{
    width: 90vw;
    padding: 10px;
    margin-top: -10px;
    padding-top: 0px;
}

footer{
    margin-bottom: 10px;
}

button {
    color: hotpink;
    border-color: aliceblue;
    content: none;
    text-align: left;
    border-style: outset;
    margin-right: 10px;
    background-color: RGBA(0,0,0,0);
    font-family: serif
}



.active, .collapsible:hover {
    text-decoration: line-through;
    transition: color 1s, background .4s;
    background-color: lime;
    color: deeppink;
    
    
    
}

.active {
    text-decoration: line-through;
    transition: color 1s, background .4s;
    background-color: lime;
    color: blue;
    
    
}


.collapsible:after {
  font-weight: bold;
  float: right;
    
}

.active:after {
  
}

.artimg{
    width: 60%;
    min-width: 300px;
    display: block;
    max-width: 700px;
    margin-top: 5px;
    margin-bottom: 5px;
    
}

.posterimg{
    width: 32%;
    display: inline;
}

@media (max-width:960px) {
    .artimg{
        width: 100%;
    }
    
    .posterimg{
        width: 100%;
}
}


.video-placeholder {
  /* fluid up to 700px, then cap out */
  width: 100%;
  max-width: 700px;
  margin: 0;
    margin-bottom: 30px;

  /* 16:9 ratio (native) */
  aspect-ratio: 16 / 9;

  /* fallback for older browsers */
  position: relative;
  background: #000;
  overflow: hidden;
}

@supports not (aspect-ratio: 16/9) {
  .video-placeholder {
    /* traditional ratio hack */
    padding-bottom: 56.25%;
  }
}

.video-placeholder iframe {
  /* always fill the placeholder */
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}


iframe {
width: 100%;
height: 500px;
}

.websiteembed{
    width: 100%;
    height: 100vh;
    transform-origin: left top;
    transform: scale(.9);
    border: 5px solid yellow;
    margin-left: 10px;
}

.oldwebsite{
    font-size: 15px;
    line-height: 45px ;
    margin-right: 10px ;
    position:absolute;
    bottom: 0px;
    right: 0;
}

.scrollingBox {
    width: 50vw;
    min-width: 300px;
    max-height: 40vh;
    overflow: auto;
}

.imageScroll {
    width: 75vw;
    min-width: 300px;
    max-height: 50vh;
    overflow: auto;
    margin-left: 10px;
    }

.imageScroll img{
    width: 50%; z-index: -1
}


h1{
    z-index: 5;
    font-size: 5em;
    padding-left: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}

h2{
    font-size: 3em;
    margin-left: 10px;
    margin-top: 0px;
    margin-bottom: .25em;
    display: inline-block;
    
}

h3{
    font-size: 1em;
    margin-top: 0px;
    margin-bottom: .25em;
    margin-left: 10px ;
    display: inline-block;
}

h4{
    font-size: 2em;
    margin-top: 0px;
    line-height: 1.5em;
    margin-left: 10px ;
    display: inline;
}

h5{
    font-size: 3em;
    margin-left: 10px;
    margin-top: 0em;
    margin-bottom: 0px;
    display: inline-block;
    color: blue;
    
}

h2:hover{
    transform: translate(5px, 5px);
}

a{
    color: #ff00ff;
}

a:hover{
    color: blue;
}

.year{
    color: #e1e8e3;
    font-weight: bold;
    text-shadow: 0px 0px 20px hotpink;
    font-size: 1.5em;
    margin-bottom: 12px
}

.circle {
    height: 100vh;
    width: 100vh;
    border-radius: 50%;
    background-color: chartreuse;
    opacity: 75%;
    display:block;
    position: fixed;
    right: 0;
    top: 0;
    z-index: -2;
    overflow: hidden;
    transform: translate(50%, 0vh);
}

@media only screen and (max-width: 900px) {
    .circle img {
        display: none;
    }
}

.circle2{
    height: 4.5em;
    width: 4.5em;
    border-radius: 50%;
    background-color: paleturquoise;
    display:block;
    z-index: -2;
    bottom: 0;
    
    font-size: 2em;
    vertical-align: middle;
    line-height: 1.45em;
}

.circle2:hover{
    background-color:palegoldenrod;
    
}

/* width */
::-webkit-scrollbar {
  width: 8px;
    
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: blue;
  transition: background 0.4s;
}


.rain{
    animation: rain 180s linear infinite;
    font-size: 3vh;
    position: absolute;
    top: -25vh;
    z-index: -10
    
}

@keyframes rain {
  from {
    transform: translateY(-4vh);
  }
  to { 
    transform: translateY(100vh);
  }
}